@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"DuruSans"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("./text.woff2") format("woff2 supports variations"),url("./text.woff2") format("woff2-variations"),url("./text.woff2") format("woff2"),url("./text.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:300 700; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}  /* běžný text - jedna oda: pouze weight -  */



html{
line-height:1.15;
-webkit-text-size-adjust:100%;
text-size-adjust:100%;
}

main{
display:block;
}

a{
background-color:transparent;
}
abbr[title]{
border-bottom:none;
text-decoration:underline;
text-decoration:underline dotted;
}
strong
{
font-weight:bolder;
}

small{
font-size:80%;
}
img{
border-style:none;
}
button,input,optgroup,select,textarea{
font-family:inherit;
font-size:100%;
line-height:1.15;
margin:0;
}
button,input
{ 
overflow:visible;
}

button,select
{
text-transform:none;
}

button,
[type="button"],
[type="reset"],
[type="submit"]{
-webkit-appearance:button;
appearance:button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
border-style:none;
padding:0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
outline:1px dotted ButtonText;
}

fieldset{
padding:.35em .75em .625em;
}

legend{
box-sizing:border-box;
color:inherit;
display:table;
max-width:100%;
padding:0;
white-space:normal;
}
textarea{
overflow:auto;
}

[type="checkbox"],
[type="radio"]{
box-sizing:border-box;
padding:0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{
height:auto;
}

[type="search"]{
-webkit-appearance:textfield;
appearance:textfield;
outline-offset:-2px;
}

[type="search"]::-webkit-search-decoration{
-webkit-appearance: none;
}

::-webkit-file-upload-button{
-webkit-appearance:button;
font:inherit;
}

details{
display:block;
}

summary{
display:list-item;
}

template{
  display:none;
}

[hidden]{
display:none;
}

p,ul,ol,dl,table,pre,figure
{
padding-top:0;
padding-bottom:0;
margin-top:0;
margin-bottom:1rem;
}

ul ul,ul ol,ol ul,ol ol
{
margin-bottom:0;
}

ul,ol,dd{
padding-left:1.75rem;
}

dd{
margin-left:0;
}

figure{
margin-left:0;
margin-right:0;
}  

figure>table,figure>img,figure>picture{
margin-bottom:0;
}

fieldset{
border:0;
}

legend{
padding:0 .5rem;
}

*
{
box-sizing:border-box;
}

body
{
color:black;
background-color:white;
font-family:"DuruSans",serif;
font-size:100%;
margin:0;
padding:0;
}

p
{
font-size:1rem;
}

header
{
display:flex;
flex-wrap:wrap;
gap:1rem;
padding:1rem;
margin-bottom:1rem;
justify-content:space-between;
align-items:center;
}

/* pokud je obrazovka větší než 500 px */
@media only screen and (min-width:31.25em)
{
header
{
padding:1rem 15% 1rem 3%;
}}

nav
{
display:flex;
gap:1rem;
text-transform:uppercase;
}

nav a,nav a:link,nav a:visited,nav a:active
{
font-size:1rem;
text-decoration:none;
color:black;
font-weight:500;
cursor:pointer;
}

img
{
width:100%;
height:auto;
}

.logo-box
{
width:5rem;
height:auto;
}

button
{
cursor:pointer;
}